## Event(Assignment-7)

### Manikar Goud Rasamalla

### 0. Preperation

In [184]:
%pip install wrds

Requirement already satisfied: wrds in c:\users\manik\anaconda3\lib\site-packages (3.2.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<1.27,>=1.26 in c:\users\manik\anaconda3\lib\site-packages (from wrds) (1.26.4)
Requirement already satisfied: packaging<23.3 in c:\users\manik\anaconda3\lib\site-packages (from wrds) (23.2)
Requirement already satisfied: pandas<2.3,>=2.2 in c:\users\manik\anaconda3\lib\site-packages (from wrds) (2.2.2)
Requirement already satisfied: psycopg2-binary<2.10,>=2.9 in c:\users\manik\anaconda3\lib\site-packages (from wrds) (2.9.10)
Requirement already satisfied: scipy<1.13,>=1.12 in c:\users\manik\anaconda3\lib\site-packages (from wrds) (1.12.0)
Requirement already satisfied: sqlalchemy<2.1,>=2 in c:\users\manik\anaconda3\lib\site-packages (from wrds) (2.0.30)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\manik\anaconda3\lib\site-packages (from pandas<2.3,>=2.2->wrds) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\manik\anaconda3\lib\site-packages (from pandas<2.3,>=2.2->wrds) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\manik\anaconda3\lib\site-packages (from pandas<2.3,>=2.2->wrds) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\manik\anaconda3\lib\site-packages (from sqlalchemy<2.1,>=2->wrds) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\manik\anaconda3\lib\site-packages (from sqlalchemy<2.1,>=2->wrds) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\manik\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<2.3,>=2.2->wrds) (1.16.0)

0-2. Verify your identify

Please run the codes for "cd" and "datetime"

In [187]:
cd

C:\Users\manik

In [95]:
#Part 01: Step 01:
#Import Datetime and cd
import datetime
print(datetime.datetime.now())

2024-11-18 08:59:03.061198

### 1. Download data from WRDS (Please use your ID and password)

In [189]:
#importing libraries
import pandas as pd
import wrds

In [ ]:
#Part 01: step 03
#connecting WRDS using ID and password
conn = wrds.Connection()

1-1. Download the company basic info data

In [104]:
#Part 01:Step 04
#This will help us get the company data
info_crsp=conn.get_table(library='crsp', table='stocknames', columns =['siccd', 'permno', 'ticker','comnam', 'cusip','namedt'])

In [105]:
info_crsp.head()

   siccd  permno ticker                     comnam     cusip      namedt
0   3990   10000  OMFGA  OPTIMUM MANUFACTURING INC  68391610  1986-01-07
1   4920   10001   GFGC         GREAT FALLS GAS CO  36720410  1986-01-09
2   4920   10001   EWST            ENERGY WEST INC  36720410  1993-11-22
3   4920   10001   EWST            ENERGY WEST INC  36720410  2008-02-05
4   4920   10001   EGAS                 ENERGY INC  36720410  2009-08-04

In [106]:
#Part 01: Step 05
#Converting namedt to pandas format
info_crsp['namedt']=pd.to_datetime(info_crsp['namedt'])

In [107]:
# Part 01: Step 06
# Information of data ( Print screen PDF)
info_crsp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80790 entries, 0 to 80789
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   siccd   80790 non-null  int64
 1   permno  80790 non-null  int64
 2   ticker  75849 non-null  object
 3   comnam  80790 non-null  object
 4   cusip   80790 non-null  object
 5   namedt  80790 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 3.7+ MB

In [108]:
# Part 01: Step 07
# Checking duplicates based on 'permnoâ€™ 
info_crsp.duplicated('permno').value_counts()

True     43014
False    37776
Name: count, dtype: int64

In [109]:
# Part 01: Step 08
#Sorting Values on permno 
info_crsp=info_crsp.sort_values(['permno','namedt'])

In [110]:
# Part 01: Step 09 and 10
# Checking the duplicates and keeping the last occuring duplicates based on permno
info_crsp=info_crsp.drop_duplicates('permno',keep='last')

In [111]:
info_crsp.duplicated('permno').value_counts()

False    37776
Name: count, dtype: int64

In [117]:
#Part 01: Step 11
# The information remains the same as they are no duplicates ( Print Screen PDF)
info_crsp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37776 entries, 0 to 80789
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   siccd   37776 non-null  int64
 1   permno  37776 non-null  int64
 2   ticker  36763 non-null  object
 3   comnam  37776 non-null  object
 4   cusip   37776 non-null  object
 5   namedt  37776 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 2.0+ MB

In [121]:
#Part 01: Step 12
#Show the unique number of companies (hint: unique(); What is the company indicator?)
info_crsp['permno'].nunique()

37776

In [124]:
info_crsp.head()

    siccd  permno ticker                         comnam     cusip     namedt
0    3990   10000  OMFGA      OPTIMUM MANUFACTURING INC  68391610 1986-01-07
6    4925   10001   EGAS                GAS NATURAL INC  36720410 2010-07-09
10   6020   10002   BTFG  BANCTRUST FINANCIAL GROUP INC  05978R10 2002-05-15
12   6020   10003   GCBK     GREAT COUNTRY BK ASONIA CT  39031810 1987-04-01
13   5330   10004   CLSO            CLOSE OUTS PLUS INC  18906310 1986-01-15

### 2. Export the company basic info data to collect the abnormal return data via WRDS.

In [127]:
# Part 02: Step 1 and 2
# Subset "permno"
crsp_out=info_crsp[['permno']]

# Add event date 
crsp_out['eventdate']='2022-05-12'
# even if there are messages, no worries.

C:\Users\manik\AppData\Local\Temp\ipykernel_22636\1452735904.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crsp_out['eventdate']='2022-05-12'

In [129]:
crsp_out.head()
crsp_out.shape

(37776, 2)

In [131]:
crsp_out.head()

    permno   eventdate
0    10000  2022-05-12
6    10001  2022-05-12
10   10002  2022-05-12
12   10003  2022-05-12
13   10004  2022-05-12

2-2 Let's export  "crsp_out" to your local computer.

In [134]:
# Part 02: Step 04 (i)
#export the data to your local computer.
loc=r"C:\Users\manik\Desktop\analytics"

In [136]:
#Part 02: Step 04 (ii)
fname=loc+"\\terra_luna_crash_data_permno_test.txt"

In [138]:
#Part 02: Step 04 (iii)
# Saving the file to computer
crsp_out.to_csv(fname, header=False, index=False, sep=' ')

2-3 Check the folder and the file you downloaded. The file size should be about 1421K.

### 3. Download the abnormal return data via WRDS

### 4. Read the file from Github

In [142]:
#Part 03: Step 01
#read your file from your GitHub
url='https://github.com/Manikargoud/analytics-project/blob/main/sik2xvnonrm4gisz_edate.csv?raw=true'

In [144]:
#Part 03: Step 02
#show the first row of the data
abcar=pd.read_csv(url)
abcar.head()

,Model,permno,evtdate,cret,car,bhar,nrets,nrets_est
0,Market-Adjusted Model,10026,2022-05-12,-0.172327,-0.149962,-0.139464,21,100
1,Market-Adjusted Model,10028,2022-05-12,-0.044402,-0.007693,-0.011538,21,100
2,Market-Adjusted Model,10032,2022-05-12,0.064433,0.095385,0.097296,21,100
3,Market-Adjusted Model,10044,2022-05-12,-0.011940,0.027170,0.020923,21,100
4,Market-Adjusted Model,10051,2022-05-12,-0.023114,0.017413,0.009749,21,100

In [145]:
# Part 03 : Step 05
# What type of this data is (cross-sectional, time series, or panel)? And why? (In the document)

5. Let's merge the abnormal return data with the basic company info data

In [147]:
#Part 04: Step 01
#merge the data from part 1 and part 3
crsp=abcar.merge(info_crsp,how="inner",on='permno')
crsp.head()

,Model,permno,evtdate,cret,car,bhar,nrets,nrets_est,siccd,ticker,comnam,cusip,namedt
0,Market-Adjusted Model,10026,2022-05-12,-0.172327,-0.149962,-0.139464,21,100,2052,JJSF,J & J SNACK FOODS CORP,46603210,2000-08-01
1,Market-Adjusted Model,10028,2022-05-12,-0.044402,-0.007693,-0.011538,21,100,5094,ELA,ENVELA CORP,29402E10,2019-12-18
2,Market-Adjusted Model,10032,2022-05-12,0.064433,0.095385,0.097296,21,100,3670,PLXS,PLEXUS CORP,72913210,1986-02-05
3,Market-Adjusted Model,10044,2022-05-12,-0.011940,0.027170,0.020923,21,100,2060,RMCF,ROCKY MOUNTAIN CHOC FAC INC NEW,77467X10,2015-03-02
4,Market-Adjusted Model,10051,2022-05-12,-0.023114,0.017413,0.009749,21,100,4813,HNGR,HANGER INC,41043F20,2020-02-14

In [148]:
crsp.shape

(9080, 13)

In [149]:
crsp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9080 entries, 0 to 9079
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Model      9080 non-null   object
 1   permno     9080 non-null   int64
 2   evtdate    9080 non-null   object
 3   cret       9077 non-null   float64
 4   car        9077 non-null   float64
 5   bhar       9077 non-null   float64
 6   nrets      9080 non-null   int64
 7   nrets_est  9080 non-null   int64
 8   siccd      9080 non-null   int64
 9   ticker     9080 non-null   object
 10  comnam     9080 non-null   object
 11  cusip      9080 non-null   object
 12  namedt     9080 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(4), object(5)
memory usage: 922.3+ KB

In [170]:
import numpy as np

In [172]:
# collecting compustat data

comp = conn.raw_sql('''select sich, gvkey, datadate, conm, revt, ni from comp.funda 
                        where datafmt = 'STD' and consol = 'C'and indfmt = 'INDL'
                        ''', date_cols=['datadate'])
#generating year
comp['year']=pd.DatetimeIndex(comp['datadate']).year

#linkage
url='https://github.com/kyoon5/shared/blob/main/link.csv?raw=true'
link=pd.read_csv(url)
link['gvkey'] = link['gvkey'].astype(str).str.zfill(6)
link['linkdt']=pd.to_datetime(link['linkdt'])
link['linkenddt']=pd.to_datetime(link['linkenddt'])

#adding permno for crsp data
comp2 = (
    comp.merge(link, how='inner', on='gvkey')  # Join on gvkey
    .query("datadate >= linkdt and (datadate <= linkenddt or linkenddt.isna())")  # Apply date range filter
    .assign(permno=lambda x: x['lpermno'])  # Select permno
    .sort_values(['gvkey', 'datadate'])  # Sort by gvkey and datadate
)

comp2=comp2[['sich', 'gvkey','datadate','conm','revt','ni','year','permno']]

In [173]:
crsp['year']=pd.DatetimeIndex(crsp['evtdate']).year

In [174]:
crsp_comp=crsp.merge(comp2,how='inner',on=['permno','year'])

In [175]:
crsp_comp['Prepackaged Software (technology industry)']=np.where((crsp_comp['siccd']>=7372)&(crsp_comp['siccd']<=7370),True,False)

In [176]:
crsp_comp['Prepackaged Software (technology industry)'].value_counts()

Prepackaged Software (technology industry)
False    5600
Name: count, dtype: int64

In [177]:
import pickle

# Ensure all required variables (info_crsp, crsp, crsp_comp) are defined and contain data

# Save multiple DataFrames in a dictionary
data = {'info_crsp': info_crsp, 'crsp': crsp, 'crsp_comp': crsp_comp}

# Define the directory location and file name
loc = './'  # Update with the desired path
fname = loc + 'Project part-2 Event(Assignment-07).pkl'

# Save the dictionary to a pickle file
with open(fname, 'wb') as file:
    pickle.dump(data, file)